{% extends 'agent_base.html' %}
{% block title %}View Clients{% endblock %}
{% block content %}
{% if messages %}
<div class="container mt-5">
    {% for message in messages %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show shadow-sm rounded-3 d-flex align-items-center justify-content-between"
        role="alert">
        {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm rounded-3 d-flex row align-items-center justify-content-between"
            role="alert">
            {% endif %}

            <div class="flex-grow-1 text-center">
                {{ message }}
            </div>

            <button type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close">
            </button>

        </div>

        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <div class="">
            <div class="row justify-content-center g-5">
                <div class="col-xl-12">
                    <h2 class="fw-bold text-center gold">View Clients</h2>
                    {% for data in client %}
                    {% empty %}
                    <div class="alert shadow-sm bg-gray sliver text-center mt-4 fw-bold ">
                        No Clients
                    </div>
                    {% endfor %}
                    <div class="table-container">
                        <table class=" table table-bordered text-center mt-5 align-middle">
                            <tr class="table-dark">
                                <th>S.No</th>
                                <th>Client profile</th>
                                <th>Name</th>
                                <th>Date of Brith</th>
                                <th>Phone No</th>
                                <th>Email</th>  
                                <th>Campagin</th>
                                <th>Action</th>
                                <th>More Details</th>

                            </tr>
                            {% for data in client %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="{{data.image.url}}" alt="" width="50px" height="50px" class="img-fluid"></td>
                                <td>{{data.first_name}} {{data.last_name}}</td>
                                <td>{{data.dob}}</td>
                                <td>{{data.mobile_number}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.campagin.name}}</td>
                                
                                <td>

                                    <div class="d-flex flex-column">
                                        <a href="{% url 'edit_client' data.id  %}" class="btn btn-primary mt-1">Edit</a>
                                        <a href="{% url 'delete_client' data.id %}"
                                            class="btn btn-danger mt-1">Delete</a>
                                    </div>

                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#clientModal{{data.id}}">
                                        View
                                    </button>
                                </td>
                            </tr>
                            <div class="modal fade" id="clientModal{{data.id}}" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {{data.first_name}} {{data.last_name}} Details
                                            </h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <p><strong>Aadhaar Number:</strong> {{data.aadhaar_number}}</p>

                                            <p><strong>PAN:</strong> {{data.pan_number}}</p>

                                            <p><strong>Job:</strong> {{data.job}}</p>

                                           

                                            <p><strong>Qualification:</strong> {{data.qulification}}</p>

                                             <p><strong>Married Status:</strong> {{data.married_status}}</p>

                                            <p><strong>Campaign:</strong> {{data.campagin.name}}</p>

                                            <p><strong>Previous Policy:</strong> {{data.previous_policy}}</p>

                                            <p><strong>Policy Number:</strong> {% if data.data.previous_policy_number %} {{data.previous_policy_number}} {% endif %} Policy Number does not Exists </p>

                                            <p><strong>Agent Feedback:</strong></p>
                                            <div class="border rounded p-2">
                                                {{data.agent_feedback}}
                                            </div>

                                            <p class="mt-3"><strong>Campaign Feedback:</strong></p>
                                            <div class="border rounded p-2">
                                                {{data.campaign_feedback}}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}