{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<!-- Hero Section Start -->
<div class="hero-main-div mt-5 py-5">
    <div class="container hero-sub-div mt-lg-5">
        <div class="row align-items-center min-vh-75 g-4">
            <div class="col-lg-6">
                <p class="fw-semibold text-uppercase logo">Trusted Insurance Management Platform</p>
                <h1 class="fw-bold display-4 text-white"><span>Protect</span> What Matters Most With<span>Smart
                        Insurance Solutions</span> </h1>
                <p class="lead text-secondary mt-3">
                    Manage policies, track claims, receive renewal reminders,
                    and connect with insurance experts through one powerful
                    and secure platform designed for customers, agents,
                    and administrators.
                </p>
                <div class="d-flex flex-wrap gap-3 mt-4 mt-lg-5 pb-lg-5 ">
                    <a href="#" class="btn primary px-4 py-2 fw-semibold">
                        Get Started
                    </a>

                    <a href="#" class="btn secondary px-4 py-2 fw-semibold">
                        Request a Quote
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img src="{% static 'core/image/hero.png' %}" alt="Gold Insurance Shield Protection" class="img-fluid">
            </div>
        </div>

    </div>
</div>
<!-- Hero Section End -->

<div class="container">
    <!-- Why Choose US Start -->
    <div class="choose-main-div mt-5 ">
        <h2 class="fw-bold mb-4">Why Choose Our Insurance CRM</h2>
        <p class="mb-5">We simplify insurance management for customers, agents, and administrators by providing a
            secure, fast, and
            fully digital platform for policy tracking, claims handling, and renewals.</p>
        <div class="choose-sub-div">
            <div class="row justify-content-center g-4">
                <div class="col-lg-6 col-12">
                    <div class="d-flex">
                        <div class="box   p-5 ">
                            <div class="row  g-3">
                                <div class="col-md-2  ">
                                    <div class="text-center">
                                        <i class="bi bi-file-earmark-text display-3 text-center "></i>
                                    </div>

                                </div>
                                <div class="col-md-10  ">
                                    <h5 class="fw-bold text-center text-sm-start">Easy Policy Management</h5>
                                    <p class="text-center text-sm-start">Manage all your insurance policies in one place
                                        with complete visibility and
                                        control.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex">
                        <div class="box  p-5 ">
                            <div class="row  g-2">
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="bi bi-lightning-charge display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="fw-bold text-center text-sm-start">Fast Claims Processing</h5>
                                    <p class="text-center text-sm-start">Submit and track insurance claims in real time
                                        with transparent updates.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex">
                        <div class="box  p-5">
                            <div class="row  g-2">
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="bi bi-person-badge display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="fw-bold  text-center text-sm-start">Agent Support System</h5>
                                    <p class="text-center text-sm-start">Connect customers with assigned agents for
                                        quick assistance and guidance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex">
                        <div class="box  p-5">
                            <div class="row  g-2">
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="bi bi-shield-lock display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="fw-bold text-center text-sm-start">Secure Data Protection</h5>
                                    <p class="text-center text-sm-start">Manage life, health, vehicle, travel, and
                                        business insurance in one platform.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!-- Why Choose Us End -->
    <!-- Insurance Plans Start -->
    <div class="ins-main-div mt-5 ">
        <h2 class="fw-bold mb-4">Our Insurance Services</h2>
        <p class="mb-5">We offer a wide range of insurance solutions designed to protect individuals, families, and
            businesses with flexible and affordable plans.</p>
        <div class="ins-sub-div ">
            <div class="row justify-content-center g-4">
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-heart-pulse display-3 text-center"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold text-center text-sm-start">Life Insurance</h5>
                                    <p class="text-center text-sm-start">Protect your family’s financial future with
                                        reliable life insurance plans that ensure long-term security.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center  g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-airplane display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold text-center text-sm-start">Travel Insurance</h5>
                                    <p class="text-center text-sm-start">Travel safely worldwide with coverage for trip
                                        cancellations, medical emergencies, and lost baggage. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-hospital display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold text-center text-sm-start">Health Insurance</h5>
                                    <p class="text-center text-sm-start">Get coverage for medical expenses and emergency
                                        treatments with comprehensive health protection.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-car-front display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold  text-center text-sm-start">Vehicle Insurance</h5>
                                    <p class="text-center text-sm-start">Secure your cars and bikes against accidents,
                                        damage, theft, and unexpected risks on the road.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-house display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold text-center text-sm-start">Property Insurance</h5>
                                    <p class="text-center text-sm-start">Protect your home, office, and valuable assets
                                        from fire, theft, and natural disasters.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="box p-4 flex-fill h-100">
                        <div class="row align-items-center g-3">
                            <div class="row align-items-center  g-3">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <i class="bi bi-briefcase display-3"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="fw-bold text-center text-sm-start">Business Insurance</h5>
                                    <p class="text-center text-sm-start">Safeguard your company from financial losses
                                        and business risks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!-- Insurance Plans End -->
    <!-- Features CRM starting -->
    <div class="choose-main-div mt-5 ">
        <h2 class="fw-bold mb-4">Powerful CRM Features for Smart Insurance Management</h2>
        <p class="mb-5">Our Insurance CRM platform helps admins, agents, and customers manage policies, claims, and
            renewals efficiently with complete transparency and automation.</p>
        <div class="choose-sub-div">
            <div class="d-flex flex-column gap-4">

                <div class="d-flex">
                    <div class="box   px-5 py-4 ">
                        <div class="row  g-5">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <i class="bi bi-people display-3 text-center"></i>
                                </div>

                            </div>
                            <div class="col-md-10">
                                <h5 class="fw-bold text-center text-sm-start">Customer Management</h5>
                                <p class="text-center text-sm-start">Easily add, update, and manage customer profiles
                                    with complete insurance history and details.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="d-flex">
                    <div class="box px-5 py-4 ">
                        <div class="row  g-5">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <i class="bi bi-folder2-open display-3"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h5 class="fw-bold text-center text-sm-start">Policy Management System</h5>
                                <p class="text-center text-sm-start">Create, track, and manage all insurance policies
                                    including active, expired, and upcoming renewals.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex">
                    <div class="box px-5 py-4">
                        <div class="row  g-5">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <i class="bi bi-clipboard-check display-3"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h5 class="fw-bold  text-center text-sm-start">Claims Management</h5>
                                <p class="text-center text-sm-start">Handle insurance claims with step-by-step tracking,
                                    approval status, and real-time updates.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
    <!-- Features CRM Ending -->
    <!-- Statics Staring  -->
    <div class="st-main-div mt-5">
        <h2 class="fw-bold mb-4">Trusted by Thousands of Customers</h2>
        <p>We are continuously growing and helping customers manage their insurance needs with reliability, speed, and
            transparency.</p>
        <div class="row g-3">
            <div class="col-md-4 col-lg-3">
                <div class="st-sub-div p-4">
                    <div class="d-flex flex-column justify-content-center text-center gap-2">
                        <i class="bi bi-people  display-3"></i>
                        <h5>Happy Customers</h5>
                        <p class="fw-bold display-3">5000+</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="st-sub-div p-4">
                    <div class="d-flex flex-column justify-content-center text-center gap-2">
                        <i class="bi bi-file-earmark-text  display-3"></i>
                        <h5>Policies Managed</h5>
                        <p class="fw-bold display-3">7000+</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="st-sub-div p-4">
                    <div class="d-flex flex-column justify-content-center text-center gap-2">
                        <i class="bi bi-person-badge display-3"></i>
                        <h5>Agents Registered</h5>
                        <p class="fw-bold display-3">2500+</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="st-sub-div p-4">
                    <div class="d-flex flex-column justify-content-center text-center gap-2">
                        <i class="bi bi-emoji-smile  display-3"></i>
                        <h5>Customer Satisfaction</h5>
                        <p class="fw-bold display-3">98%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Statics Ending -->

    <!-- final start -->
    <div class="cta-main-div mt-5 p-5">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-column gap-4">
                    <h1 class="fw-bold display-3">Ready to <span>Secure</span> Your Future Today?</h1>
                    <p class="">Join thousands of customers who trust our Insurance CRM platform to manage policies,
                        claims, and renewals easily and securely.</p>
                    <p><span>Simple. Fast. Secure.</span> Everything you need for complete insurance management in one
                        place.</p>
                </div>
                <div class="d-flex flex-column flex-md-row gap-4">
                    <div class="d-flex  align-items-center primary py-1 px-3 fw-bold">
                        <i class="bi bi-rocket-takeoff word"></i>
                        <a href="#" class="btn fw-bold word"> Get Started Now</a>
                    </div>
                    <div class="d-flex align-items-center secondary px-3 py-1 fw-bold">
                        <i class="bi bi-person-badge icon"></i>
                        <a href="#" class="btn icon"> Talk to Expert</a>
                    </div>
                    <div class="d-flex align-items-center view fw-bold px-3 py-1">
                        <i class="bi bi-file-earmark-text text-white "></i>
                        <a href="#" class="btn"> View Insurance Plans </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- final End -->
    </div>
</div>
{% endblock %}