{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
<br>
<br>
{% if messages %}
<div class="container mt-5">
    {% for message in messages %}

    {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show shadow-sm rounded-3 d-flex align-items-center justify-content-between" role="alert">
    {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm rounded-3 d-flex row align-items-center justify-content-between" role="alert">
    {% endif %}

        <div class="flex-grow-1 text-center">
            {{ message }}
        </div>

        <button type="button"
                class="btn-close ms-1"
                data-bs-dismiss="alert"
                aria-label="Close">
        </button>

    </div>

    {% endfor %}
</div>
{% endif %}
<div class="container h-100 ">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            <div class="login-card p-5 mt-lg-5">
                <h3 class="text-center brand mb-3 fw-bold logo">Insurance CRM</h3>
                <h5 class="text-center mb-4 ">Secure Login</h5>
                <form action="{% url 'submit_login' %} " method="post">
                    {% csrf_token %}
                    <div>
                        <label for="" class=" mb-3 ">Username</label>
                        <input type="text" class="w-100 mb-3 px-2 py-1" name="username" placeholder="Enter Your Username">
                    </div>
                    <div>
                        <label for="" class="mb-3 ">Password</label>
                        <input type="password" class="w-100 mb-3 px-2 py-1" name="password" placeholder="Enter Your Password">
                    </div>
                    <button  type="submit" class="w-100 word">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}