<footer>
    <div class="">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h5>Company Information</h5>
                <hr>
                <p class="fw-bold sub-hed">Insurance CRM</p>
                <p class="">Protecting lives, securing futures, and simplifying insurance management through innovative technology. We provide reliable insurance solutions for individuals, families, and businesses.</p>
            </div>

            <div class="col-lg-1 col-md-2">
                <h5>Links</h5>
                <hr>
                <a href="{% url 'home' %}">Home</a><br>
                <a href="{% url 'login' %}">Login</a><br>

            </div>
            <div class="col-lg-2 col-md-3">
                <h5>Insurance Services</h5>
                <hr>
                <p>Life Insurance</p>
                <p>Health Insurance</p>
                <p>Vehicle Insurance</p>
                <p>Business Insurance</p>                 
            </div>
            <div class="col-lg-2 col-md-3">
                <h5>CRM Features</h5>
                <hr>
                <p>Agent Management</p>
                <p>Campaign Management</p>
                <p>Client Management</p>              
            </div>

            <div class="col-lg-3 col-md-3">
                <h5>Contact Information</h5>
                <hr>
                <p>123 Business Park, Chennai, Tamil Nadu, India</p>
                <p>+123 444 444</p>
                <p>support@insurancecrm.com</p>
                <p>Monday – Friday: 9:00 AM – 6:00 PM</p>
            </div>
             
            
            
            <div class="text-center mt-5 copy-right">
                © 2026 Insurance CRM. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>